
/*Titulos*/
h1 {
  font-size: 50px;
  font-family: 'Onyx';
  color: #22000b;
}

h2 {
  font-size: 50px;
  font-family: 'Impact';
  color: #22000b;
}

h2:hover{
  color:#8C8A45
}

sub{
  font-size: 20px;
}


/*Estilos generales para el body*/
body {
  background: linear-gradient(to right, #fddbd2, #f6efd8);
  font-family: 'Georgia'; /*Courier*/
  color: #390000;
  text-align: left;
  flex-direction: column;
}

.About_me {
  display: flex;
  flex-shrink: 1 1 auto;
}

.text_am{
  text-align: left;
  margin: 10px;
}

p:hover{
  font-size: 20px;
}

/*Contacto*/
.contact_button{
  background-color: rgb(248, 200, 154);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: #390113;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(253, 214, 124, 0.2);
  transition: transform 0.5s ease;
}

.contact_button:hover{
  color: #390113;
  background-color: rgb(243, 182, 255);
  transform: scale(1.05);
}

/*Seccion hero*/
.hero{
  background-image: url('Pictures/header1.jpeg');
  height: 700px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  position: relative;
  font-size: 15px;
  font-family: 'Georgia';
  color: #22000b;
  text-align: center;
  margin: 0;
}

.hero-title{
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 0;
}


/* Navegación del header a otras páginas */
nav {
  justify-content: top;
  align-items: center;
  gap: 1rem;
  display: flex;
}

a{
  color: #fdf5e9;
  font-family: 'Georgia';
  text-decoration: underline;
}

a:active, :hover {
color: #390000;
}


@keyframes bounce { 
  40%{transform: translateY(-10px); }
  60%{transform: translateY(-5px); }
  0%, 20%, 50%, 80%, 100% {transform: translateY(0); }
}