
h1 {
  font-size: 40px;
  font-family: 'Onyx';
  color: #3f0014;
}

h2, h3 {
  font-family: 'Oswald';
  color: #dffda2;
}

body {
  background: linear-gradient(to right, #5C0120, #9A3F4A);
  font-family: 'Georgia';
  color: #e3baba;
  text-align: center;
}

a{
  background-color: rgb(242, 204, 248);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px;
  color: #5C0120;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(253, 214, 124, 0.2);
  transition: transform 0.5s ease;
}

a:hover{
  color: #5C0120;
  background-color: rgb(243, 182, 255);
  transform: scale(1.05);
}

.hero{
  background-image: url('Pictures/header1.jpeg');
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-content {
  position: relative;
  font-size: 10px;
  font-family: 'Georgia';
  color: #22000b;
  text-align: center;
  margin: 0;
}

.hero-title{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

@keyframes bounce { 
  40%{transform: translateY(-10px); }
  60%{transform: translateY(-5px); }
  0%, 20%, 50%, 80%, 100% {transform: translateY(0); }
}